RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} id/(.+)(/?)$ [NC]
RewriteRule id/(.+)(/?)$ https://%{HTTP_HOST}/login/auth/$1/ [R=302,L] 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]